Capstone Proposal Nikola Shikole ID5735 Rev 1.docx
dev-credentials.txt
backend/supermarket-api/uploads/
DEPLOY_DEBIAN_BACKEND_FRONTEND.txt
plan.txt
mobileapp/cap_app/android/key.properties
*.jks
*.keystore
